<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://Model2Roo_UML_Profiles/"
            target="platform:/plugin/fr.imag.model2roo.uml.profiles/profiles/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="fr.imag.model2roo.uml.profiles.profile1"
            path="fr.imag.model2roo.uml.profiles.profile1">
      </profile>
   </extension>

</plugin>
